@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
*
{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.div_usina 
{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    height: 590px;
    overflow: hidden;
    /*background:#130e23;*/
    /*max-width: 650px;*/
    
}

section .text_usina
{
    position:relative;
    text-align:center;    
    color:#00cefe;
    margin:40px;
    max-width: 650px;
    
}

section .text_usina span{

    position: relative;
    display:inline-block;
    font-size: 1.5em;
}